{"http_interactions":[{"request":{"method":"get","uri":"http://capitolwords.org/api/1/phrases.json?apikey=959f2e3ebf6d46cc8b924ec4c7e6a039\u0026entity_type=state\u0026entity_value=CO\u0026sort=count%20desc\u0026start_date=2015-01-01","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Last-Modified":["Tue, 11 Aug 2015 22:18:53 GMT"]},"body":{"encoding":"UTF-8","string":"[\n    {\n        \"tfidf\": 6.2475866604400003e-05,\n        \"count\": 17418,\n        \"ngram\": \"colorado\"\n    },\n    {\n        \"tfidf\": 2.36607112930409e-05,\n        \"count\": 6742,\n        \"ngram\": \"amendment\"\n    },\n    {\n        \"tfidf\": 8.9968179728903608e-06,\n        \"count\": 2647,\n        \"ngram\": \"debt\"\n    },\n    {\n        \"tfidf\": 2.5850894298257401e-05,\n        \"count\": 2489,\n        \"ngram\": \"denver\"\n    },\n    {\n        \"tfidf\": 8.1437007416113804e-06,\n        \"count\": 2396,\n        \"ngram\": \"thing\"\n    },\n    {\n        [...]
