{"http_interactions":[{"request":{"method":"get","uri":"http://capitolwords.org/api/1/text.json?apikey=959f2e3ebf6d46cc8b924ec4c7e6a039\u0026bioguide_id=P000598\u0026per_page=100\u0026phrase=mountains","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Last-Modified":["Tue, 11 Aug 2015 19:55:21 GMT"]},"body":{"encoding":"UTF-8","string":"{\n    \"num_found\": 11,\n    \"results\": [\n        {\n            \"speaker_state\": \"CO\",\n            \"speaker_first\": \"Jared\",\n            \"congress\": 112,\n            \"title\": \"HAPPY 100TH BIRTHDAY TO WESTMINSTER, COLORADO\",\n            \"origin_url\": \"http://origin.www.gpo.gov/fdsys/pkg/CREC-2011-03-16/html/CREC-2011-03-16-pt1-PgH1851-5.htm\",\n            \"number\": 40,\n            \"order\": 1,\n            \"volume\": 157,\n            \"chamber\": \"House\",\n            \"session\": 1,\n            \"id\": \"CREC-2011-03-16-pt1-PgH1851-5.chunk1\",\n            \"speaking\": [\n                \"Mr. Speaker, I rise today in recognition of the 100th birthday of the city of Westminster, Colorado, one of the Colorado Front Range urban corridor's principal cities. Westminster is framed by the natural beauty of the nearby Rocky Mountains. Westminster's scenic and convenient setting is located between the economic hubs of Denver and Boulder, which has attracted many residents and businesses to the city. Settlers from the East first came to the area of Westminster in the 1870s. It used to be known as the Village of Harris and was formally founded as the town of Westminster on April 4, 1911.\",\n                \"Westminster is notable in the Front Range urban area for its long-term commitment to the preservation of open spaces. It has received numerous national rewards and recognition for sustainable development, technology integration in city government, and quality of life. The miles of trails provide public access for outdoor recreational activities that are so important to Colorado residents. I congratulate the people of Westminster on 100 years of progress and prosperity and look eagerly forward to what the future holds for this forward-looking Colorado city. \"\n            ],\n            \"capitolwords_url\": \"http://capitolwords.org/date/2011/03/16/H1851-5_happy-100th-birthday-to-westminster-colorado/\",\n            \"speaker_party\": \"D\",\n            \"date\": \"2011-03-16\",\n            \"bills\": null,\n            \"bioguide_id\": \"P000598\",\n            \"pages\": \"H1851-H1852\",\n            \"speaker_last\": \"Polis\",\n            \"speaker_raw\": \"mr. polis\"\n        },\n        {\n            \"speaker_state\": \"CO\",\n            \"speaker_first\": \"Jared\",\n            \"congress\": 111,\n            \"title\": \"SKI AREA RECREATIONAL OPPORTUNITY ENHANCEMENT ACT OF 2010\",\n            \"origin_url\": \"http://origin.www.gpo.gov/fdsys/pkg/CREC-2010-07-29/html/CREC-2010-07-29-PT3-PgH6445.htm\",\n            \"number\": 113,\n            \"order\": 9,\n            \"volume\": 156,\n            \"chamber\": \"House\",\n            [...]
