{"http_interactions":[{"request":{"method":"get","uri":"http://capitolwords.org/api/1/text.json?apikey=959f2e3ebf6d46cc8b924ec4c7e6a039\u0026per_page=500\u0026phrase=mountains\u0026speaker_state=CO\u0026start_date=2015-01-01","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Last-Modified":["Tue, 11 Aug 2015 22:18:53 GMT"]},"body":{"encoding":"UTF-8","string":"{\n    \"num_found\": 68,\n    \"results\": [\n        {\n            \"speaker_state\": \"CA\",\n            \"speaker_first\": \"Adam\",\n            \"congress\": 114,\n            \"title\": \"TRIBUTE TO THE ARMENIAN SISTERS' ACADEMY OF LOS ANGELES\",\n            \"origin_url\": \"http://origin.www.gpo.gov/fdsys/pkg/CREC-2015-01-12/html/CREC-2015-01-12-pt1-PgE48-2.htm\",\n            \"number\": 5,\n            \"order\": 0,\n            \"volume\": 161,\n            \"chamber\": \"Extensions\",\n            \"session\": 1,\n            \"id\": \"CREC-2015-01-12-pt1-PgE48-2.chunk0\",\n            \"speaking\": [\n                \"Mr. Speaker, I rise today to honor the Armenian Sisters' Academy of Los Angeles upon its thirtieth anniversary. The Armenian Sisters' Academy of Los Angeles (ASA), nestled in the foothills of the Verdugo Mountains in Montrose, offers a Day Care Program, Preschool, Kindergarten and grades 1st through 8th. Established in 1985, the ASA is one of three schools in the United States operated and governed by the only existing Catholic Order of the Armenian Sisters of the Immaculate Conception, which was founded in 1847. The other two schools are located in Radnor, Pennsylvania and Lexington, Massachusetts, established in 1967 and 1979, respectively.\"\n            ],\n            \"capitolwords_url\": \"http://capitolwords.org/date/2015/01/12/E48-2_tribute-to-the-armenian-sisters-academy-of-los-ang/\",\n            \"speaker_party\": \"D\",\n            \"date\": \"2015-01-12\",\n            \"bills\": null,\n            \"bioguide_id\": \"S001150\",\n            \"pages\": \"E48\",\n            \"speaker_last\": \"Schiff\",\n            \"speaker_raw\": \"mr. schiff\"\n        },\n        {\n            \"speaker_state\": \"PA\",\n            \"speaker_first\": \"Patrick\",\n            \"congress\": 114,\n            \"title\": \"KEYSTONE XL PIPELINE ACT\",\n            \"origin_url\": \"http://origin.www.gpo.gov/fdsys/pkg/CREC-2015-01-21/html/CREC-2015-01-21-pt1-PgS311.htm\",\n            \"number\": 10,\n            \"order\": 133,\n            \"volume\": 161,\n            \"chamber\": \"Senate\",\n            \"session\": 1,\n            [...]
