{"http_interactions":[{"request":{"method":"get","uri":"http://capitolwords.org/api/1/phrases.json?apikey=959f2e3ebf6d46cc8b924ec4c7e6a039\u0026entity_type=legislator\u0026entity_value=P000598\u0026sort=count%20desc","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Last-Modified":["Thu, 13 Aug 2015 15:55:27 GMT"]},"body":{"encoding":"UTF-8","string":"[\n    {\n        \"tfidf\": 0.00016322451437,\n        \"count\": 768,\n        \"ngram\": \"health\"\n    },\n    {\n        \"tfidf\": 2.14381045822e-05,\n        \"count\": 660,\n        \"ngram\": \"people\"\n    },\n    {\n        \"tfidf\": 0.000110727728277,\n        \"count\": 619,\n        \"ngram\": \"care\"\n    },\n    {\n        \"tfidf\": 1.90153032804e-05,\n        \"count\": 512,\n        \"ngram\": \"one\"\n    },\n    {\n        \"tfidf\": 1.6500844132999999e-05,\n        \"count\": 508,\n        \"ngram\": \"country\"\n    },\n    {\n        \"tfidf\": 2.3372735684[...]
