<div class="container">
    <br>
    <div class="col-lg-6">
      <br>
      <div id="word-cloud" data-root="/states/" data-id="<%= @state.name %>"></div>
      <%= render partial: '/legislators', locals: { state: @state } %>
    </div>
    <div class="col-lg-1">
    </div>
    <div class="col-lg-5">
      <%= render partial: '/list_of_quotes', locals: { object: @state } %>
    </div>
</div>
