<div class="container">
  <div class="row">
    <div class="col-lg-5">
      <br><br><br>
      <div id="word-cloud" data-id="<%= @state.name %>"></div>
    </div>

    <div class="col-lg-7">
      <h1>Here is where sentiment analyses go</h1><br>

      <%= render '/list_of_quotes' %>

    </div>
  </div>
</div>
