<div class="container">
  <div class="row">
    <div class="col-lg-5"><h1>Here is where my word cloud goes</h1></div>
    <div class="col-lg-7"><h1>Here is where sentiment analyses go</h1></div>
  </div>
</div>
