<%= image_tag 'donkey-elephant.png', id: 'donkey-elephant' %>
<div class="container">
<div class="col-md-4">
</div>

<div class="col-md-8">
<h1>What's in a Word?</h1>
<p>Discover what your state's legislators are talking about: what they say, and what they mean. Discover what your state's legislators are talking about: what they say. Discover what your state's and what they mean.</p>
<%= button_to "View Map", states_path, class: 'map-btn', method: :get %>
</div>

</div>
