<%= image_tag 'donkey-elephant.png', id: 'donkey-elephant' %>
<div class="container">
<div class="col-md-4">
</div>

<div class="col-md-8">
<h1>What's in a Word?</h1>
<p>Discover what your state's legislators are talking about every day: what they say, and what they mean. Here you'll find the 2015 congressional record's most popular keywords, and the sentiments conveyed by the context. Visit the map to get started.</p>
<%= button_to "View Map", states_path, class: 'map-btn', method: :get %>
</div>

</div>
